<!-- Base html used for basic website structure/styling-->
<!DOCTYPE html>
<title>{% block title %}{% endblock %}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Recipe Book</title> <!--Browser tab title -->

<!-- Bootstrap import-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">

<!-- Beginning of Menu -->
<nav class="navbar sticky-top bg-body-tertiary">
<div class="container">
<a class="navbar-brand" href="/">Recipes</a>
<a class="navbar-brand" href="/grocery-list">My Grocery List</a>
<a class="navbar-brand" href="/user">My Profile</a>
{% if session.get("user") %}
    <a href="{{ url_for('logout') }}" class="nav-link">Logout</a>
{% else %}
    <a href="{{ url_for('login') }}" class="nav-link">Login</a>
{% endif %}
<a href="{{ url_for('register') }}" class="nav-link">Register</a>
<a class="navbar-brand" href="/">[Logo]</a>
</div>
</nav>
<!-- End of Menu -->

<!-- Beginning of Body -->
<section class="content">
  <header>
	{% block header %}{% endblock %}
  </header>
	{% block content %}{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
<!-- End of Body -->
</section>
