{% extends 'base.html' %}

<!-- Browser tab and page title -->
{% block header %}
  <br><br><br>
  <h1 class="text-center">{% block title %}Recipe Search{% endblock %}</h1>
{% endblock %}

<!-- Beginning of Body -->
{% block content %}

<div class="container">

  <!-- Search bar -->
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="search-container mb-4">
        <input type="text" class="form-control search-input" placeholder="Search to come soon...">
        <i class="fas fa-search search-icon"></i>
      </div>
    </div>
  </div>

  <!-- Recipe List -->
  <h2 class="text-center">All Recipes</h2>
  <ul class="list-group">
    {% for recipe in recipes %}
      <li class="list-group-item">
        <a href="{{ url_for('recipeX', id=recipe.recipe_id) }}">
          {{ recipe.recipe_desc }}
        </a>
      </li>
    {% else %}
      <li class="list-group-item">No recipes found.</li>
    {% endfor %}
  </ul>

</div>

{% endblock %}
