{% extends 'base.html' %}

<!-- Browser tab title and page title -->
{% block header %}
	<br>
	<h1>{% block title %}{{recipe.recipe_desc}}{% endblock %}</h1>
{% endblock %}

<!-- Beginning of Body -->
{% block content %}
		<br><br>
		<!-- Bootstrap Grid used for Recipe Servings and Ratings -->
		<div class="container text-center">
		<div class="row">
		<div class="col"><h3>Servings: {{recipe.recipe_servings}}</h3></div>
		<div class="col"><h3>Overall Rating: {{recipe.recipe_rating}}</h3></div>
		</div></div>

		<!-- Recipe Ingredients -->
		<h1>Recipe Ingredients</h1>

		<!-- Header Row -->
		<table class="table">
		<thead><tr>
		<th scope="col">#</th>
		<th scope="col">Ingredients</th>
		<th scope="col">Quantity</th>
		</tr></thead>
		
		<!-- Table Body -->
		<tbody>
		{% for qty in qtys %}
		<tr><th scope="row">{{loop.index}}</th>
		<td>{{ing_descs[loop.index]}}</td>
		<td>{{qty.ing_qty}} {{qty.ing_uom}}</td></tr>
		{% endfor %}
		</tbody>
		</table><br><br>

		<!-- Recipe Instructions -->
		<h1>Recipe Instructions</h1>
		<ol class="list-group list-group-numbered list-group-flush">
		<!-- Print parsed instructions as a list -->
		{% for insn in recipe_insns %}
		<li class="list-group-item">{{insn}}</li>		
		{% endfor %}
		</ol>

		<br><br>
		<!-- Rate Recipe -->
		<h1>Rate This Recipe</h1>
		<form method="POST" action="/">
		<div class="form-check">
  		<input class="form-check-input" type="radio" name="radioDefault" id="radioDefault5">
  		<label class="form-check-label" for="radioDefault5">5 Star</label>
		</div>
		<div class="form-check">
		<input class="form-check-input" type="radio" name="radioDefault" id="radioDefault4">
		<label class="form-check-label" for="radioDefault4">4 Star</label>
		</div>
		<div class="form-check">
		<input class="form-check-input" type="radio" name="radioDefault" id="radioDefault3">
		<label class="form-check-label" for="radioDefault3">3 Star</label>
		</div>
		<div class="form-check">
		<input class="form-check-input" type="radio" name="radioDefault" id="radioDefault2">
		<label class="form-check-label" for="radioDefault2">2 Star</label>
		</div>
		<div class="form-check">
		<input class="form-check-input" type="radio" name="radioDefault" id="radioDefault1">
		<label class="form-check-label" for="radioDefault1">1 Star</label>
		</div>
		<br>
		<button type="submit" class="btn btn-primary">Rate Recipe</button>
		</form>

		<br><br>
		<!-- Comment Recipe -->
		<h1>Comment On This Recipe</h1>
		<form>
		<div class="mb-3">
		<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
		<button type="submit" class="btn btn-primary">Comment</button>
		</div>
		</form>
		

{% endblock %}
